doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='./') Inicio
    br
    a(href='./hola') hola
    br
    a(href='./about') Conocenos
    block content
